body{
    background-color: rgb(167, 102, 18);
    display: flex;justify-content: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:50vw;
    .container-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:auto;
        background-color: rgb(66, 48, 48);
        button{
            margin: 1em;
        }
        p{
            text-align: center;
            background-color:aqua;
            width: 342px;
        }
    }
    .container-text{
        width:auto;
        background-color: rgb(66, 48, 48); 
        textarea{
            margin: 1em;
        }
        p{
            text-align: center;
            background-color:aqua
        }
    }
}
